In [4]:
import numpy as np
import anndata
import pandas as pd
import scanpy as sc
import scipy
import seaborn as sns
import networkx as nx
import matplotlib.pyplot as plt

In [5]:
Path='/media/kusterlab/internal_projects/active/NCI60_Phospho/Final_dataset/'

In [8]:
file2='proteinGroups'

In [9]:
df0=pd.read_csv(f'{Path}/MQ1.5.5.1_NCI60_FP_complete/txt/{file2}.txt', sep='\t', lineterminator='\n')
df1=pd.read_csv(f'{Path}/MQ1.5.5.1_CRC65_FP_complete/txt/{file2}.txt', sep='\t', lineterminator='\n')

/tmp/ipykernel_1921/270476762.py:1: DtypeWarning: Columns (449,450) have mixed types. Specify dtype option on import or set low_memory=False.
  df0=pd.read_csv(f'{Path}/MQ1.5.5.1_NCI60_FP_complete/txt/{file2}.txt', sep='\t', lineterminator='\n')
/tmp/ipykernel_1921/270476762.py:2: DtypeWarning: Columns (504,505) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv(f'{Path}/MQ1.5.5.1_CRC65_FP_complete/txt/{file2}.txt', sep='\t', lineterminator='\n')

In [16]:
df0 = df0[['Protein IDs', 'Gene names']].drop_duplicates().copy()
df1 = df1[['Protein IDs', 'Gene names']].drop_duplicates().copy()

In [20]:
df = pd.concat([df0, df1]).drop_duplicates().copy()

In [21]:
df

,Protein IDs,Gene names
0,P0DN26;A0A075B759;Q9Y536;F5H284;A0A0B4J2A2;P0DN37,PPIAL4E;PPIAL4A;PPIAL4D;PPIAL4C
1,A0A0B4J2F0,PIGBOS1
2,A0A0C4DH73,IGKV1-12
3,A0A5B9;P01850,TRBC2;TRBC1
4,A0AV96;A0AV96-2,RBM47
...,...,...
12664,REV__Q9Y5C1,NaN
12665,REV__Q9Y5E3,NaN
12666,REV__Q9Y5F9-2;REV__Q9Y5F9,NaN
12667,REV__Q9Y613,NaN
12668,REV__Q9Y6I3-3;REV__Q9Y6I3;REV__Q9Y6I3-1;REV__O...,NaN

In [22]:
df.to_pickle('Uniprots_to_Gene_Names.pkl')